## Part 1 Data Preprocessing

In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [25]:
#os.chdir('./data/')
dataset = pd.read_csv('Data.csv')  #fetch become DataFrame
dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [24]:
os.getcwd()

'D:\\AI-2-ML100Ds\\2nd-ML100Days\\Udemy_ML\\data'

### 各種資料型態組成DataFrame的能力要另外努力

In [26]:
X=dataset.iloc[:,:-1].values
Y=dataset.iloc[:,3].values  #python start index from 0

In [30]:
type(dataset)

pandas.core.frame.DataFrame

In [31]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

## 補充DataFrame.iloc 與 loc用法 
### https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html
## DataFrame與 list, set, dict不同的是，他是call by value!!

In [32]:
dataset.iloc[:,:-1].values

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [34]:
dataset.iloc[:,0].values   #index[列,行]

array(['France', 'Spain', 'Germany', 'Spain', 'Germany', 'France',
       'Spain', 'France', 'Germany', 'France'], dtype=object)

In [38]:
dataset.iloc[:,[0,1]].values

array([['France', 44.0],
       ['Spain', 27.0],
       ['Germany', 30.0],
       ['Spain', 38.0],
       ['Germany', 40.0],
       ['France', 35.0],
       ['Spain', nan],
       ['France', 48.0],
       ['Germany', 50.0],
       ['France', 37.0]], dtype=object)

In [41]:
dataset.iloc[[0],[0,1]].values   #用list如同R中用c() 傳入Vector

array([['France', 44.0]], dtype=object)

In [43]:
dataset.iloc[[0],[0,0,1]].values  #可以看出，list有的元素是指向DataFrame中的index，如同Vector，等於可以新建欄位了

array([['France', 'France', 44.0]], dtype=object)

In [44]:
X=dataset.iloc[:,:-1].values
Y=dataset.iloc[:,3].values  #python start index from 0

## Missing data process

In [45]:
#taking care of missing data
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy="mean")  #在SimpleImputer後ctrl+i 在spyder就會出現helper documents 
imputer = imputer.fit(X[:,1:3])  #針對數值欄位利用欄位特徵值取平均數做遺漏值取代 
X[:,1:3] = imputer.transform(X[:,1:3])

## Categorical Data tranform one hot encoding

In [47]:
#處理類別型資料，endoce轉為數值dummy variable
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X[:0]=labelencoder_X.fit_transform(X[:,0])   #針對第一欄類別型資料(國家)作轉置成數值，但是數值是有順序的，這並不符合實際需求，因為國家間，我們不需要有比較的意義。

array([0, 2, 1, 2, 1, 0, 2, 0, 1, 0])

In [51]:
from IPython.display import Image
Image(filename='../pics/OneHotEncodingDummyV.png',width=500)

FileNotFoundError: [Errno 2] No such file or directory: '../pics/OneHotEncodingDummyV.png'